/* 
    Created on : Nov 20, 2018, 8:55:50 AM
    Author     : BaoBao
*/
TabPane {
    -fx-font: "Tahoma";
    -fx-font-size: 18;
}

GridPane {
    -fx-padding: 10;
}

HBox {
    -fx-padding: 10 0 10 0;
    -fx-spacing: 30;
}